:root {
    --bg-body: #000000;
    --bg-contact: #808080;
    --accent: #a27879;
    --text: #fff;
    --invalid: #955656;
    --accent2: #3e6460;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

body {
    margin: 0;
    font-family: 'Avenir', sans-serif;
    color: var(--text);
    background-color: var(--bg-body);
}

h1 {
    display: inline-block;
    font-size: 30px;
    line-height: 40px;
    margin: 20px;
}

.container {
    float: right;
    display: flex; 
    /* justify-content: flex-end; */
    list-style-type: none;
    margin: 20px;
    padding: 10px;
}

.container li {
    padding: 0 0 0 5rem;
}

.about {
    display: inline;
}

#about {
    font-size: 50px;
    margin: 20px;
}

.bio {
    margin: 20px;
    font-size: 20px;
}

img {
    float: right;
    margin: 50px;
    margin-top: -20px;
    max-width: 300px;
    max-height: 300px;  
}

#work {
    margin: 20px;
    font-size: 30px;
}